<div>
    <div class="flex flex-col items-center justify-center">
        <img src="/assets/images/404.png" class="w-96 h-96" alt="404">
        <h4 class="text-xl font-bold text-primary">Page Not Found</h4>
    </div>
   
</div>