<div class="grid grid-cols-2 md:grid-cols-4 gap-3">



    <div class="card shadow flex flex-col justify-between items-center py-5 bg-blue-500 h-40">
        <i class="fa-solid fa-location-dot text-4xl text-white"></i>
         
         <div class="flex justify-between items-center w-full px-10">
            <p class="text-white font-bold">Places</p>
            <p class="text-white font-bold bg-secondary p-3 w-10 h-10 flex justify-center items-center rounded-full" ><%= places.length  %></p>
         </div>
    </div>



    <div class="card shadow flex flex-col justify-between items-center py-5 bg-red-500 h-40">
        
        <i class="fa-solid fa-users text-4xl text-white"></i>
         <div class="flex justify-between items-center w-full px-10">
            <p class="text-white font-bold">Users</p>
            <p class="text-white font-bold bg-secondary p-3 w-10 h-10 flex justify-center items-center rounded-full" ><%= users.length  %></p>
         </div>
    </div>


  

  


</div>