<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <%- include('./inc/style.ejs') %>
  <title>Places</title>
</head>

<script>
  function boxBreview(){
    document.write('hello')
  }
</script>

<body>
  <div class="flex ">
    <%- include('./inc/sidebar.ejs') %>
    <div class="flex-1">
      <%- include('./inc/header.ejs') %>
     
      <div class="p-4">
        <div class="grid grid-cols-2 md:grid-cols-4 ">
          <div class="bg-blue-500 p-4 flex flex-col justify-center items-center rounded-lg">
            <i class="fa-solid fa-location-dot text-4xl text-white"></i>
            <p class="text-white text-2xl mt-7">  <%= places.length  %> </p>
          </div>
       




        </div>
      </div>
    </div>
  </div>
</body>

</html>