<div class="navbar bg-base-100 shadow-sm px-5">
  <div class="flex-1">
    <button id="toggle_btn" class="btn btn-ghost text-xl"><i class="fa-solid fa-bars"></i></button>

  </div>


  <div class="flex-none">


    <div class="flex items-center">
      <div class="mx-2 flex flex-col justify-center items-center">
        <p class=" text-secondary text-sm">
          <% if (user) { %><%= user.name %> <% } %>
        </p>
        <p class=" text-secondary text-sm">
          <% if (user) { %><%= user.email %> <% } %>
        </p>
      </div>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar border border-primary">
          <i class="fa-regular fa-user text-xl"></i>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          
         
          <li><a href="/users/logout">Logout</a></li>
        </ul>
      </div>
    </div>




  </div>
</div>