<div class="sticky top-0 z-50 px-5 shadow-sm navbar bg-base-100">
  <div class="flex-1">
    <button id="toggle_btn" class="text-xl btn btn-ghost"><i class="fa-solid fa-bars"></i></button>

  </div>


  <div class="flex-none">

    <div class="flex items-center">
      <%- include('./_language-switcher.ejs') %>
    </div>

  </div>
</div>