<div class="fixed w-0 h-screen overflow-hidden transition-all ease-in-out bg-black shadow-lg md:w-54" id="sidebar">
 
  <div class="flex justify-end my-4 md:hidden">
    <button class="absolute text-white border border-white btn btn-ghost btn-circle right-2 top-2" id="hide_sidebar_btn">
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
 
  <aside>
   

    <div class="py-5">
      <div class="flex items-center justify-center mb-10">
        <img src="/assets/images/logo.svg" class="w-32" alt="">
      </div>
      <ul>


        <li class="px-3 py-2 mb-1 text-white transition-colors ease-in-out border-b border-gray-400 hover:bg-primary">
          <a href="/admin/index" class="flex items-center w-full ">

            <div class="flex-1">
              <i class="text-sm fa-solid fa-gauge"></i>
              <span class="mx-2 text-sm">
                Dashboard
              </span>
            </div>


            <i class="mr-3 text-sm fa-solid fa-chevron-right"></i>
          </a>
        </li>


        <li class="px-3 py-2 mb-1 text-white transition-colors ease-in-out border-b border-gray-400 hover:bg-primary">
          <a href="/admin/places" class="flex items-center w-full ">

            <div class="flex-1">
              <i class="text-sm fa-solid fa-location-dot"></i>
              <span class="mx-2 text-sm">
                Places
              </span>
            </div>


            <i class="mr-3 text-sm fa-solid fa-chevron-right"></i>
          </a>
        </li>


        <!-- users page -->
        <li class="px-3 py-2 mb-1 text-white transition-colors ease-in-out border-b border-gray-400 hover:bg-primary">
          <a href="/admin/users" class="flex items-center w-full ">

            <div class="flex-1">
           
              <i class="text-sm fa-solid fa-users"></i>
              <span class="mx-2 text-sm">
                users
              </span>
            </div>


            <i class="mr-3 text-sm fa-solid fa-chevron-right"></i>
          </a>
        </li>


        <!-- Setting Page -->

        <li class="px-3 py-2 mb-1 text-white transition-colors ease-in-out border-b border-gray-400 hover:bg-primary">
          <a href="/admin/setting" class="flex items-center w-full ">

            <div class="flex-1">
              <i class="text-sm fa-solid fa-gear"></i>
              
              <span class="mx-2 text-sm">
                Setting
              </span>
            </div>


            <i class="mr-3 text-sm fa-solid fa-chevron-right"></i>
          </a>
        </li>




      </ul>
    </div>
  </aside>
</div>