<div class=" w-0 md:w-52 overflow-hidden bg-black h-screen fixed transition-all ease-in-out" id="sidebar">
  <aside>
    <div class="py-5">
      <div class="mb-10">
        <img src="/assets/images/logo.svg" class="w-32" alt="">
      </div>
      <ul>




        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/index" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-gauge text-sm"></i>
              <span class="text-sm mx-2">
                Dashboard
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>


        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/places" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-location-dot text-sm"></i>
              <span class="text-sm mx-2">
                Places
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>




        <!-- users page -->
        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/users" class="w-full flex items-center ">

            <div class="flex-1">
           
              <i class="fa-solid fa-users text-sm"></i>
              <span class="text-sm mx-2">
                users
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>


        <!-- Setting Page -->

        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/setting" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-gear text-sm"></i>
              
              <span class="text-sm mx-2">
                Setting
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>




      </ul>
    </div>
  </aside>
</div>