<div class=" w-0 md:w-54 shadow-lg rounded-tr-2xl rounded-br-2xl overflow-hidden bg-black h-screen fixed transition-all ease-in-out" id="sidebar">
 
  <div class="md:hidden flex justify-end my-4">
    <button class="btn btn-ghost border border-white btn-circle absolute text-white right-2 top-2" id="hide_sidebar_btn">
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
 
  <aside>
   

    <div class="py-5">
      <div class="mb-10 flex justify-center items-center">
        <img src="/assets/images/logo.svg" class="w-32" alt="">
      </div>
      <ul>


        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/index" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-gauge text-sm"></i>
              <span class="text-sm mx-2">
                Dashboard
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>


        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/places" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-location-dot text-sm"></i>
              <span class="text-sm mx-2">
                Places
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>


        <!-- users page -->
        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/users" class="w-full flex items-center ">

            <div class="flex-1">
           
              <i class="fa-solid fa-users text-sm"></i>
              <span class="text-sm mx-2">
                users
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>


        <!-- Setting Page -->

        <li class="text-white mb-1 border-b hover:bg-primary py-2 px-3 transition-colors ease-in-out border-gray-400">
          <a href="/dashboard/setting" class="w-full flex items-center ">

            <div class="flex-1">
              <i class="fa-solid fa-gear text-sm"></i>
              
              <span class="text-sm mx-2">
                Setting
              </span>
            </div>


            <i class="fa-solid fa-chevron-right mr-3 text-sm"></i>
          </a>
        </li>




      </ul>
    </div>
  </aside>
</div>