@import "tailwindcss";
@plugin "daisyui";


:root{
  --color-primary: #2ec4b6;
  --color-secondary: #011627;
  --color-light : #fdfffc;
  --color-dark: #011627;
}

@theme {
  --bg-primary: var(--color-red-500);
  --color-secondary: var(--color-blue-500);
}


/* @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
} */

input{
  margin-top: 5px;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}


/* custom style */
.dt-length {
  display: none;
}

.dt-search {
  margin-bottom: 10px;
}

.dt-search input {
  border: 1px solid var(--color-primary);
  padding: 5px;

}
table thead{
  background-color: var(--color-primary);
 
  color: white;
}
table th{
  height: 30px;
  font-size: 10px;
  color: white;
}

.pagination {
  display: flex;
  flex-direction: row !important;

  flex-wrap: nowrap !important;
}

.pagination li {
  width: 30px;

}