<aside class="w-44 bg-black h-screen ">
    <nav>

      <div class="flex justify-center items-center bg-white">
        <img src="/assets/images/logo.svg" class="w-18 h-18" alt="">
      </div>
      
      <ul class="">

        
        <li >
          <a href="/admin/places" class="text-white border-b border-b-gray-100 w-full block  py-2 px-4">
            <i class="fa-solid fa-location-dot"></i>
            <span class="mx-3">places</span>
          </a>
        </li>
       
      </ul>
    </nav>
  </aside>