<aside class="w-52 bg-black h-screen ">
    <nav>

      <div class="flex justify-center items-center ">
        <img src="/assets/images/logo.svg" class="w-22 h-22" alt="">
      </div>
      
      <ul class="">

        <li >
          <a href="/admin/index" class="text-white border-b border-b-gray-100 w-full block  py-2 px-4">
            <i class="fa-solid fa-house"></i>
            <span class="mx-3 text-sm">Home</span>
          </a>
        </li>

        
        <li >
          <a href="/places/places" class="text-white border-b border-b-gray-100 w-full block  py-2 px-4">
            <i class="fa-solid fa-location-dot"></i>
            <span class="mx-3 text-sm">places</span>
          </a>
        </li>

        <li >
          <a href="/places/places" class="text-white border-b border-b-gray-100 w-full block  py-2 px-4">
            <i class="fa-solid fa-users"></i>
            <span class="mx-3 text-sm">Users</span>
          </a>
        </li>



        <li >
          <a href="/places/places" class="text-white border-b border-b-gray-100 w-full block  py-2 px-4">
            <i class="fa-solid fa-gear"></i>
            <span class="mx-3 text-sm">Setting</span>
          </a>
        </li>
       
      </ul>
    </nav>
  </aside>