<!-- ! Sidebar -->
<aside class="sidebar">
  <div class="sidebar-start">
    <div class="sidebar-head">
      <a href="/" class="logo-wrapper" title="Home">
        <span class="sr-only">Home</span>
        <span class="icon logo" aria-hidden="true"></span>
        <div class="logo-text">
          <span class="logo-title">Elegant</span>
          <span class="logo-subtitle">Dashboard</span>
        </div>

      </a>
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle" aria-hidden="true"></span>
      </button>
    </div>




    <div class="sidebar-body">
      <ul class="sidebar-body-menu">
        <li>
          <a class="active" href="/dashboard/index"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
        </li>

        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon document" aria-hidden="true"></span>Places
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a href="/places/places">All Places</a>
            </li>
            <li>
              <a href="#">Add new Place</a>
            </li>
          </ul>
        </li>





        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon folder" aria-hidden="true"></span>Users
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li> <a href="/dashboard/users">Show Users</a></li>
          </ul>
        </li>

        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon image" aria-hidden="true"></span>Media
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a href="#">Media-01</a>
            </li>
            <li>
              <a href="#">Media-02</a>
            </li>
          </ul>
        </li>


        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon paper" aria-hidden="true"></span>Pages
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a href="#">All pages</a>
            </li>
            <li>
              <a href="#">Add new page</a>
            </li>
          </ul>
        </li>



        <li>
          <a href="#">
            <span class="icon message" aria-hidden="true"></span>
            Comments
          </a>
          <span class="msg-counter">7</span>
        </li>



      </ul>


      <span class="system-menu__title text-white">App Setting</span>



      <ul class="sidebar-body-menu">
        <li>
          <a href="/dashboard/app/setting"><span class="icon edit" aria-hidden="true"></span>Appearance</a>
        </li>


        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon category" aria-hidden="true"></span>Extentions
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a href="#">Extentions-01</a>
            </li>
            <li>
              <a href="#">Extentions-02</a>
            </li>
          </ul>
        </li>



        <li>
          <a class="show-cat-btn" href="##">
            <span class="icon user-3" aria-hidden="true"></span>Users
            <span class="category__btn transparent-btn" title="Open list">
              <span class="sr-only">Open list</span>
              <span class="icon arrow-down" aria-hidden="true"></span>
            </span>
          </a>
          <ul class="cat-sub-menu">
            <li>
              <a href="/dashboard/users">Show Users</a>
            </li>

          </ul>
        </li>

        <li>
          <a href="/dashboard/setting"><span class="icon setting" aria-hidden="true"></span>Settings</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="sidebar-footer">
    <a href="##" class="sidebar-user">
      <span class="sidebar-user-img">
        <picture>
          <source srcset="/template/img/avatar/avatar-illustrated-01.webp" type="image/webp"><img
            src="/template/img/avatar/avatar-illustrated-01.png" alt="User name">
        </picture>
      </span>
      <div class="sidebar-user-info">
        <span class="sidebar-user__title">Nafisa Sh.</span>
        <span class="sidebar-user__subtitle">Support manager</span>
      </div>
    </a>
  </div>
</aside>