<div class="bg-white flex justify-center items-center h-screen">


    <!-- Left: Image -->
    <div class="w-1/2 h-screen hidden lg:block">
        <img src="/assets/images/banner.jpg" alt="Placeholder Image" class="object-cover w-full h-full">
    </div>



    <!-- Right: Login Form -->
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
        <h1 class="text-2xl font-semibold mb-4">Login</h1>
        <form action="/users/login" method="post">
            <!-- Username Input -->
            <div class="mb-4" >
                <label for="username" class="block text-gray-600">Email</label>
                <input type="text" id="username" name="email"
                    class="input input-primary w-full"
                    autocomplete="off">
            </div>
            <!-- Password Input -->
            <div class="mb-4">
                <label for="password" class="block text-gray-800">Password</label>
                <input type="password" id="password" name="password"
                    class="input input-primary w-full"
                    autocomplete="off">
            </div>
            <!-- Remember Me Checkbox -->
            <div class="mb-4 flex items-center">
                <input type="checkbox" id="remember" name="remember" class="text-red-500">
                <label for="remember" class="text-green-900 ml-2">Remember Me</label>
            </div>
            <!-- Forgot Password Link -->
            <div class="mb-6 text-blue-500">
                <a href="#" class="hover:underline">Forgot Password?</a>
            </div>
            <!-- Login Button -->
            <button type="submit"
                class="btn btn-primary font-semibold rounded-md py-2 px-4 w-full">Login</button>
        </form>
        <!-- Sign up  Link -->
        <div class="mt-6 text-green-500 text-center">
            <button class="hover:underline" onclick="my_modal_4.showModal()">Sign up Here</button>
        </div>
    </div>
</div>





<!-- You can open the modal using ID.showModal() method -->
<button class="btn" onclick="my_modal_4.showModal()">open modal</button>
<dialog id="my_modal_4" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <form action="/users/register" class="mt-10" method="post">

        <div class="mb-4" >
            <label for="username" class="block text-gray-600">Name</label>
            <input type="text" name="name"
                class="input input-primary w-full"
                autocomplete="off">
        </div>


        <div class="mb-4" >
            <label for="username" class="block text-gray-600">Email</label>
            <input type="text" id="username" name="email"
                class="input input-primary w-full"
                autocomplete="off">
        </div>
        <!-- Password Input -->
        <div class="mb-4">
            <label for="password" class="block text-gray-800">Password</label>
            <input type="password" id="password" name="password"
                class="input input-primary w-full"
                autocomplete="off">
        </div>
        
        <button type="submit"  class="btn btn-primary font-semibold rounded-md py-2 px-4 w-full" >Register</button>
    
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>