<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <%- include('../admin/inc/style.ejs') %>
</head>

<body>


    <div class="container m-auto">
        <div class="flex justify-center items-center h-screen">
            <div class="w-full md:w-96 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <form class="sign-up-form form" action="/users/login" method="post">


                    <div class="flex justify-center my-5">
                        <img src="/assets/images/logo.svg" alt="">
                    </div>


                    <div class="mb-4">
                        <label class="form-label">E-mail</label>
                        <input class="input input-primary w-full" type="email" name="email"
                            placeholder="Enter your email" >
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input class="input input-primary w-full" type="password" name="password"
                            placeholder="Enter your email" >
                    </div>

                    <div class="my-4">
                        <button type="submit" class="btn btn-primary w-full">Sign in</button>
                    </div>

                </form>
            </div>
        </div>

    </div>









    <%- include('../admin/inc/script.ejs') %>
</body>

</html>