<div class="container px-3 m-auto">
  <div class="grid grid-cols-1 gap-5">
    <% queuesData.forEach(queue => { %>



        
    <div class="bg-gray-100 shadow-lg ext-center rounded-xl">
        <div class="flex flex-col items-center justify-center py-5 text-white s bg-primary ">
               <p class="text-xl font-bold"> AHEAD OF YOU </p>
               <p><%= queue.aheadOfYou  %></p>
        </div>
        <div class="flex items-center justify-between px-5 py-6">
            
            <div class="flex flex-col items-center justify-center">
                <p class="text-md text-primary">YOUR NUMBER</p>
                <p class="font-bold text-md text-primary"><%= queue.queue.queue  %></p>
            </div>
            
            <div class="flex flex-col items-center justify-center">
                <p class="text-md text-primary">ESTIMATING TIME</p>
                <p class="text-xl font-bold text-primary"><%= queue.estimatedTime  %></p>
            </div>
        </div>
      
      <p></p>
     

    </div>
    <% }) %>

  </div>
</div>