<div class="container px-3 m-auto my-10">
  <div class="flex flex-col items-center justify-center p-4 text-white bg-gray-200 border shadow-lg rounded-xl">



    <% if (queues.length > 0) { %>
   

    <div class="flex justify-between w-full mb-5">
      <p class="text-black">WAITING LIST</p>
      <p class="text-xl font-bold text-primary"><%= queues.length %></p>
    </div>

    <div class="flex justify-between w-full mb-5">
      <p class="text-black">ESTIMATING TIME</p>
      <p class="text-xl font-bold text-primary"> <%= queues.length * 15 %>  Min</p>
    </div>
    
    <% } else { %>
        <p class="text-xl font-bold text-primary">No queues found.</p>
    <% } %>

    <form action="/book/my/turn/<%= place %>/<%= service  %>" method="post">
      <button class="btn btn-primary">Book My Turn</button>
    </form>

  </div>
</div>