<div>
    
  

    <div class="container flex flex-col items-center justify-center px-3 m-auto my-10">
        <h5 class="mb-5 font-black text-center text-primary">
            <%= place.nameEn  %>
        </h5>
        <h5><%= place.addressEn  %></h5>
        <img src="/assets/images/qr.svg" class="w-96 h-96" alt="">
        <p>Scan This QR code to book your Queue</p>
    </div>
   












    <footer class="py-10 bg-gray-300 mt-50">
        <div class="container m-auto">
          <div class="flex flex-col items-center justify-center md:flex-row">
            <a href="" class="flex items-center px-10 py-4 mx-10 my-4 text-white bg-black rounded-lg">
              <img src="/assets/images/apple.png" class="w-10 h-10" alt="">
              <p class="mx-5 text-sm">Download Our App From Apple Store</p>
            </a>
            <a href="" class="flex items-center px-10 py-4 mx-10 my-4 text-white bg-black rounded-lg">
              <img src="/assets/images/google-play.png" class="w-10 h-10" alt="">
              <p class="mx-5 text-sm">Download Our App From Google Play</p>
            </a>
          </div>
        </div>
      </footer>
      
</div>